@font-face {
   font-family: 'Lobster';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Linestar%20Desing/Documents/GitHub/Dreadlocks-King-Lyon/fonts/Lobster/regular.ttf') format('truetype');
}
